body{
    margin: 0;
    padding: 0;
}
.login{
    width: 500px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
input{
    display: block;
}


/* estilos para admin */



.color{
    background-color: brown;
}

